
body {
  font-size: 16px;
  font-weight: 400;
  color: #256fff;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.inner {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner .menu {
  display: flex;
  margin-right: 20px;
}
.inner .menu li a {
  padding: 25px;
  color: #041A69;
}
.inner .menu li a:hover {
  color: #256fff;
}
.inner .menu li::before {
  content: "";
  width: 1px;
  height: 13px;
  background-color: #949494;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.inner .menu li:first-child::before {
  display: none;
}
.log {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.log .container {
  margin: 13%;
}
.log .container .sign-in h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.log .container .sign-in h1 a {
  color: #256fff;
}
.log .container .sign-in input,
.log .container .sign-in .textbox .logbtn {
  max-width: 450px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid #474747;
  font-size: 15px;
  padding: 0 30px;
  background-color: #f3f2f2;
  border-radius: 10px;
}
.log .container .sign-in input {
  margin: 5px;
}
.log .container .sign-in .textbox .logbtn {
  border-radius: 20px;
  margin-top: 30px;
  background-color: #256fff;
  color: #fff;
  font-weight: 600;
}
.log .container .sign-in .textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.log .find .find-menu {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.log .find .find-menu li a {
  margin: 0 15px;
  color: #636363;
  text-decoration: underline;
}
.log .find .find-menu li a:hover {
  color: #041A69;
}
.log .sns {
  text-align: center;
  margin-top: 70px;
  color: #474747;
}
.log .start-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.log .start-btn .kakao,
.log .start-btn .naver {
  border-radius: 10px;
  border: 1px solid #474747;
  color: #636363;
  margin: 10px;
  max-width: 250px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
}
.log .start-btn .naver:hover {
  background-color: #19ce60;
  color: #000;
}
.log .start-btn .kakao:hover {
  background-color: #fef01b;
  color: #000;
}