
/* 전체 제어 */

body {
  font-size: 16px;
  font-weight: 400;
  color: #041A69;
}

a {
  text-decoration: none;
}
img {
  display: block;
}

.inner {
  /* width: 1200px; */
  margin: 0 auto;
  position: relative;
}

/* 헤더 고정 */
header {
  background-color: #fff;
  border-bottom: 1px solid #424242;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  width: 1200px;
  height: 70px;
}

header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
/* 메인메뉴 수평 가운데 */
header .main-menu {
  display: flex;
  justify-content: center;
  z-index: 1;
}
/* 하단메뉴 정렬 */
header .main-menu .item  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 메인메뉴 디자인 */
header .main-menu .item .item__name {
  /* display: block; */
  padding: 10px 35px 10px;
  font-size: 20px;
  font-weight: 600;
  color: #041A69;
  line-height: 50px;
}

/* 메인 메뉴 hover 색 변환 */
header .main-menu .item .item__name:hover {
  color: #7B98FF;



  /* background-color: #041A69 ; */
  /* border-radius: 70%; */
}

header .main-menu .item ul {
  width: 100%;
  background-color: rgba(250, 250, 250, 80);
  /* background-color: orange; */
  padding: 15px 10px;
  font-size: 12px;
  text-align: center;
  display: none;
}

/* item hover 시 메뉴 보임 */
header .main-menu .item:hover ul {
  display: block;
}

/* 하단 메뉴 여백 */
header .main-menu .item > ul > li {
  padding: 8px;
  cursor: pointer;
}

/* li hover 시 글자색 변환 */
header .main-menu .item > ul > li:hover {
  color: #7B98FF;
}


/* SEARCH */
header .inner .search {
  position: absolute;
  right: 0;
  top: 20px;
}
header .inner .search input {
  height: 30px;
  border: 1px solid #041A69;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}
header .inner .search .material-icons {
  top: 3px;
  bottom: 0;
  right: 10px;
  position: absolute;
  color: #041A69  ;
}
header .inner .search input:focus {
  border: 2px solid #041A69;
}


/* MAIN IMG */

.main-slide {
  margin-top: 70px;
}
.main-slide .swiper {
  width: 1440px;
  height: 500px;
}

.main-slide .material-icons {
  font-size: 40px;
}

.main-slide .swiper-button-next,
.main-slide .swiper-button-prev {
  color: #041A69;
  transition: .3s;
}
.main-slide .swiper-button-next:hover,
.main-slide .swiper-button-prev:hover {
  color: #7B98FF;
}
.main-slide .swiper-button-prev::after, 
.main-slide .swiper-button-next::after { 
  display: none;
}

/* YOUTUBE */

.youtube {
  position: relative;
  height: 500px;
  background-image: url(../img/bg_img.jpg);
  overflow: hidden;
}
.youtube .youtube__area {
  width: 1920px;
  height: 1080px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

#player {
  width: 100%;
  height: 100%;
}


/* NOTICE */

.notice {
  position: relative;
  background-color: #d0daff;

}
.notice .inner {
  width: 1440px;
  height: 60px;
  
}
.notice .inner .notename {
  display: flex;

}
.notice .inner .notename h2 {
  line-height: 60px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
}

.notice .inner .notename .swiper-slide {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  line-height: 60px;
  font-size: 20px;
}
.notice .inner .notename .swiper-slide a {
  color: #041A69;
}
.notice .inner .notename .notice_more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .inner .notename .notice_more .material-icons {
  color: #041A69;
  font-size: 45px;
}






