
/* 전체 제어 */

body {
  font-size: 16px;
  font-weight: 400;
  color: #041A69;
}

a {
  text-decoration: none;
}
img {
  display: block;
}

.inner {
  /* width: 1200px; */
  margin: 0 auto;
  position: relative;
}

/* 헤더 고정 */
header {
  background-color: #fff;
  border-bottom: 1px solid #424242;
  width: 100%;
  position: fixed;
  top: 0;
}

header > .inner {
  width: 1200px;
  height: 70px;
}

header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
}
header .main-menu {
  display: flex;
  justify-content: center;
}
header .main-menu .item .item__name {
  display: block;
  padding: 10px 30px 10px;
  font-size: 20px;
  font-weight: 600;
  color: #041A69;
  line-height: 50px;

}
header .main-menu .item .item__name:hover {
  color: #7B98FF;
  /* background-color: #041A69 ; */
  border-radius: 10px;
}
header .main-menu .item .item__contents {
  width: 200px;
  position: fixed;
  /* display: none; */
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #aeaeae;
}
header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 20px;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  font-size: 12px;
  padding: 10px;


}


/* search */
header .inner .search {
  position: absolute;
  height: 34px;
  right: 0;
  top: 14px;
}
header .inner .search input {
  height: 34px;
  border: 1px solid #2a2a2a;
  box-sizing: border-box;
  border-radius: 10px;
}
header .inner .search input .material-icons {
  top: 16px;
  position: absolute;
}




