body {
  font-size: 16px;
  font-weight: 400;
  color: #041A69;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.inner {
  /* width: 1200px; */
  margin: 0 auto;
  position: relative;
}

/* HEADER */
header {
  background-color: #fff;
  border-bottom: 1px solid #424242;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}
header > .inner {
  max-width: 1200px;
  height: 70px;
}
header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
/* 메인메뉴 수평 가운데 */
header .main-menu {
  display: flex;
  justify-content: center;
  z-index: 1;
}
/* 하단메뉴 정렬 */
header .main-menu .item  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 메인메뉴 디자인 */
header .main-menu .item .item__name {
  /* display: block; */
  padding: 10px 35px 10px;
  font-size: 20px;
  font-weight: 600;
  color: #041A69;
  line-height: 50px;
}

/* 메인 메뉴 hover 색 변환 */
header .main-menu .item .item__name:hover {
  color: #7B98FF;
}
header .main-menu .item ul {
  width: 100%;
  background-color: rgba(250, 250, 250, 80);
  /* background-color: orange; */
  padding: 15px 10px;
  font-size: 12px;
  text-align: center;
  display: none;
}
/* item hover 시 메뉴 보임 */
header .main-menu .item:hover ul {
  display: block;
}
/* 하단 메뉴 여백 */
header .main-menu .item > ul > li {
  padding: 8px;
  cursor: pointer;
}
/* li hover 시 글자색 변환 */
header .main-menu .item > ul > li:hover {
  color: #7B98FF;
}

/* SEARCH */
header .inner .search {
  position: absolute;
  right: 0;
  top: 20px;
}
header .inner .search input {
  height: 30px;
  border: 1px solid #041A69;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}
header .inner .search .material-icons {
  top: 3px;
  bottom: 0;
  right: 10px;
  position: absolute;
  color: #041A69  ;
}
header .inner .search input:focus {
  border: 2px solid #041A69;
}

nav {
  position: relative;
  top: 71px;
  border-bottom: 1px solid #d9d9d9;
  /* background-color: orange; */
}
nav .navi {
  height: 60px;
  width: 800px;
  /* background-color: royalblue; */
  margin: 0 auto;
  display: flex;
}
nav .navi .material-icons {
  font-size: 45px;
  display: block;
  margin: 5px 15px;
  position: relative;
  cursor: pointer;
  color: #041A69;
}
nav .navi .material-icons::before {
  content: "";
  width: 1px;
  height: 60px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 53px;
}
nav .navi .material-icons:hover {
  color: #7B98FF;
}


nav .navi .bar {
  display: flex;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
}
nav .navi .bar li {
  margin: 0 10px; 
  cursor: pointer;
}
nav .navi .bar li:last-child {
  color: #7B98FF;
}


.grap {
  display: block;
  position: relative;
  top: 71px;
  margin: auto;
}
.grap .inner {
  position: relative;
  max-width: 1200px;
}
.grap .inner h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 40px 0 20px;
}
.grap .inner h3 {
  font-size: 18px;
  margin: 10px 10px;
}
.grap .inner .season {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
}
.grap .inner .season h3::before {
  content: "";
  height: 5px;
  width: 5px;
  background-color: #041A69;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 0;
}
.zoo .inner h2 {
  margin-top: 45px;
}
.grap .inner table {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  box-sizing: border-box;
}
.grap .inner table td {
  padding: 10px;
  border: 1px solid;
  width: 50%;
}
.grap .inner table .date {
  background-color: #aab4d8;
}

.caution {
  display: block;
  position: relative;
  top: 71px;
  margin: auto;
  margin-bottom: 30px;
  width: 700px;
  height: 250px;
}
.caution .inner {
  margin: auto;
  position: relative;
  max-width: 1200px;
}
.caution .inner h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 10px;
}
.caution .inner h3::before {
  content: "";
  height: 5px;
  width: 5px;
  background-color: #041A69;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 0;
}
.caution .inner .list {
  display: block;
  line-height: 20px;
}


/* FOOER */

footer {
  height: 200px;
  background-color: #1c2950;
}
footer .footop {
  height: 80px;
}
footer .footop .top-menu {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
footer .footop .top-menu li {
  position: relative;
}
footer .footop .top-menu li a {
  color: #d9d9d9;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}
footer .footop .top-menu li a:hover {
  color: #7B98FF;
}
footer .footop .top-menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
footer .footop .top-menu li:first-child::before {
  display: none;
}
footer .footbt .btn-group {
  max-width: 1200px;
  height: 60px;
  position: relative;
  margin: 0 auto;
}
footer .footbt .btn-group .map {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 140px;
  text-align: center;
  padding: 13px;
  border: 1px solid; 
  border-radius: 50px;
  box-sizing: border-box;
  background-color: #d9d9d9;
  cursor: pointer;
  font-size: 16px;
  color: #000;
}
footer .footbt .btn-group .map:hover {
  background-color: #6C7084;
  transition: .3s;
}
footer .footbt .btm-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
footer .footbt .btm-menu li {
  margin-right: 28px;
  font-size: 12px;
}
footer .footbt .btm-menu li a {
  color: #d9d9d9;
}


/* 상단으로 */

.go-top {
  background-color: #2A3E85;
  right: 30px;
  bottom: 30px;
}
.go-top .material-icons {
  position: absolute;
  top: 15px;
  left: 22px;
  color: #fff;
}
.go-top  p {
  position: absolute;
  font-size: 14px;
  top: 43px;
  left: 23px;
  color: #fff;
}
.reserve {
  right: 30px;
  bottom: 115px;
  background-color: #4F5D8F;
}
.reserve .material-icons {
  position: absolute;
  top: 13px;
  left: 23px;
  color: #fff;
}
.reserve  p {
  position: absolute;
  font-size: 12px;
  top: 43px;
  left: 12px;
  color: #fff;
}
.data {
  right: 30px;
  bottom: 197px;
  background-color: #7583b6;
}
.same {
  position: relative;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 10;
  position: fixed;
  border-radius: 50%;
  transition: .3s;
}
.data .material-icons {
  position: absolute;
  top: 13px;
  left: 23px;
  color: #fff;
}
.data  p {
  position: absolute;
  font-size: 12px;
  top: 43px;
  left: 12px;
  color: #fff;
}
.same:hover {
  background-color: #1c2950;
  transition: .3s;
}

/* 햄버거 */
header .inner .hamburger {
  display: none;
  width: 60px;
  cursor: pointer;
}
header .inner .hamburger:hover {
  color: #7B98FF;
}

header .inner .hamburger .material-icons {
  font-size: 40px;
  line-height: 70px;
}
/* 햄버거 하위 메뉴 */
header .inner .ham-menu {
  /* display: none; */
  background-color: rgb(236, 244, 255);
  height: 70px;
  top: -50%;
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  /* transition: .6s; */
}
/*header .inner .ham-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  color: #041A69;
  line-height: 50px;
}*/

header .inner .ham-menu.active {
  top: 70px;
}
header .inner .ham-menu div {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .inner .ham-menu .material-icons {
  font-size: 40px;
  color: #041A69;
}

header .inner .ham-menu .secondmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

header .inner .ham-menu .secondmenu .item__name2 {
  padding: 0 20px;
  cursor: pointer;
  color: #1c2950;
}
header .inner .ham-menu .secondmenu .item__name2:hover {
  color: #7B98FF;
}

header .inner .ham-menu .secondmenu ul {
  display: none;
 
}
header .inner .ham-menu .secondmenu .item__name2:hover ul {
  display: block;
}


@media screen and (max-width: 992px) {
  header .inner .main-menu {
    display: none;
  }
  header .inner .hamburger {
    display: block;
    margin: auto;
  }
  
  header .hamburger.active,
  header .closes.active {
    display: block;
  }
  .grap .inner {
    margin: 0 30px;
  }
  .caution .inner {
    margin: 0 30px;
  }
}
@media screen and (max-width: 600px) {
  header .inner .ham-menu ul {
    font-size: 14px;
  }
}


